@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-table-hover: #2a2a2a;
}

@layer components {
  .heading {
    @apply text-3xl
  }

  .caption {
    @apply text-sm text-gray-500
  }

  .wrapper {
    @apply mx-auto w-full max-w-none sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl px-6 md:px-8 lg:px-12;
  }
}

@theme {
  --color-table-hover: #eeeeee;
  --color-border: gray;
  --z-index-navbar: 40;
  /* Website Breakpoints - Mui Reference */
  --breakpoint-xs: 0;
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1556px;
  /* Container */
  --container-sm: 600px;
  --container-md: 900px;
  --container-lg: 1200px;
  --container-xl: 1556px;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}